*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
}
body{
    
    min-width: 100vw;
    min-height: 100vh;
}

#logo{
    display: block;
    height: 50px;
    width: 120px;

}
i{
    font-size: 30px;
}
#main-nav{
    position: sticky;
    z-index: 100;
    top:0;
}
.account{
    height: 50px;
    width: 50px;
    background-color: yellow;
    border-radius: 50%;
}
.left-nav{
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
}
.dropdown{
    width: 200px;
}

#src-in{
    width:min-content;
    margin-right: 0;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#src-btn{
    
    border-bottom-left-radius:0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.navbar-nav{
    display: flex;
    justify-content: center;
}
#lower-nav,#dln{
    background-color:rgba(5, 5, 5, 0.566);
    /* color: aliceblue; */
}
#ln,#dln,#dln-item{color: aliceblue;}
#ln:hover{
    background-color: dodgerblue;
    color: azure;
}
#dln-item:hover{
    background-color: rgb(250, 199, 11);
    color: rgb(4, 4, 4);
}
#front-page{
    margin-top: 125px;
}
.col{
    
    min-height: 60vh;
}
 
b{
    color: green;
}
@media screen and (max-width:450px){
    .col{
        min-height: 20vh;
    }
    #front-page{
        margin-top:168px;
    }
}
@media screen and (max-width:830px) and (min-width:451px){
    .col{
        min-height: 40vh;
    }

}
/* glow effect */
#fp-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
#fpl-card h1{
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to right,red,rgb(245, 249, 7));
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 30px rgba(255, 0, 0, 0.484);
    animation: anime 1s infinite alternate;
}
@keyframes anime{
    100%{
        text-shadow: 0 0 60px rgba(255, 213, 0, 0.523);  
    }
}


.carousel-item{
    scroll-behavior: smooth;
    height: 500px;
    aspect-ratio: 3/4;
    background-size: contain;
    background-repeat: repeat-x;
    /* background-attachment:fixed ; */
}
#s1{
    
    background-image: url(./images/slide-1.jpeg);
}
#s2{

    background-image: url(./images/slide-2.jpeg);
}
#s3{
   
    background-image: url(./images/slide-4.jpg);
}

#card-link{
    text-decoration: none;
}

.box:hover{
    z-index: 10;
    box-shadow: 0 0 10px 10px;
}